<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    Sistemas de {{ title }}!
  </h1>


  <div style="text-align:left">
    <table border="1">
      <tr>
        <td>
          <img width="300" alt="Angular Logo" src="assets\images\car_one.jpeg">
        </td>
        <td>

          <H1>CARRO ECONÔMICO COM AR</H1>

          <H2>CÓDIGO DA TAXA:IFMR</H2>
          <H2>CARRO DO BATMAN, LAMBORGHINI, FERRARI</H2>

          Entre em contato
          <a href="mailto:contato@contato.com">

            contato@contato.com</a>

          <P>

            <BR>
            <B>
              <I>Quilometragem livre</I>
            </B>
            <BR>
            <B>
              <I>Seguro total do veículo</I>
            </B>
            <BR>
            <B>
              <I>Seguro a terceiros</I>
            </B>



        </td>

        <td>

          <BR>
          <B>
            <I>Total da locação</I>
          </B>
          <BR>
          <B>
            <I>R$ 999,99</I>
          </B>
          <BR>
          <B>
            <I>Taxas inclusas</I>
          </B>

          <li>
            <h2>
              <a target="_blank" rel="noopener" href="https://blog.angular.io/">Alugar</a>
            </h2>
          </li>

        </td>
      </tr>
      <tr>
        <td colspan="3">

          <table border="0">
            <tr>
              <td>4 postas</td>
              <td>5 pessoas</td>
              <td>3 malas</td>
            </tr>
            <tr>
              <td>ar condicionado</td>
              <td>vidro elétrico</td>
              <td>direção hidrâulica</td>
            </tr>
            <tr>
              <td>4 postas</td>
              <td>5 pessoas</td>
              <td>3 malas</td>
            </tr>
          </table>

        </td>

      </tr>
    </table>

  </div>

  <div style="text-align:left">
    <table border="1">
      <tr>
        <td>
          <img width="300" alt="Angular Logo" src="assets\images\car_two.jpeg">
        </td>
        <td>

          <H1>CARRO ECONÔMICO COM AR</H1>

          <H2>CÓDIGO DA TAXA:IFMR</H2>
          <H2>CARRO DO BATMAN, LAMBORGHINI, FERRARI</H2>

          Entre em contato
          <a href="mailto:contato@contato.com">

            contato@contato.com</a>

          <P>

            <BR>
            <B>
              <I>Quilometragem livre</I>
            </B>
            <BR>
            <B>
              <I>Seguro total do veículo</I>
            </B>
            <BR>
            <B>
              <I>Seguro a terceiros</I>
            </B>



        </td>

        <td>

          <BR>
          <B>
            <I>Total da locação</I>
          </B>
          <BR>
          <B>
            <I>R$ 999,99</I>
          </B>
          <BR>
          <B>
            <I>Taxas inclusas</I>
          </B>

          <li>
            <h2>
              <a target="_blank" rel="noopener" href="https://blog.angular.io/">Alugar</a>
            </h2>
          </li>

        </td>
      </tr>
      <tr>
        <td colspan="3">

          <table border="0">
            <tr>
              <td>4 postas</td>
              <td>5 pessoas</td>
              <td>3 malas</td>
            </tr>
            <tr>
              <td>ar condicionado</td>
              <td>vidro elétrico</td>
              <td>direção hidrâulica</td>
            </tr>
            <tr>
              <td>4 postas</td>
              <td>5 pessoas</td>
              <td>3 malas</td>
            </tr>
          </table>

        </td>

      </tr>
    </table>

  </div>

  <div style="text-align:left">
    <table border="1">
      <tr>
        <td>
          <img width="300" alt="Angular Logo" src="assets\images\car_three.jpg">
        </td>
        <td>

          <H1>CARRO ECONÔMICO COM AR</H1>

          <H2>CÓDIGO DA TAXA:IFMR</H2>
          <H2>CARRO DO BATMAN, LAMBORGHINI, FERRARI</H2>

          Entre em contato
          <a href="mailto:contato@contato.com">

            contato@contato.com</a>

          <P>

            <BR>
            <B>
              <I>Quilometragem livre</I>
            </B>
            <BR>
            <B>
              <I>Seguro total do veículo</I>
            </B>
            <BR>
            <B>
              <I>Seguro a terceiros</I>
            </B>

        </td>

        <td>

          <BR>
          <B>
            <I>Total da locação</I>
          </B>
          <BR>
          <B>
            <I>R$ 999,99</I>
          </B>
          <BR>
          <B>
            <I>Taxas inclusas</I>
          </B>

          <li>
            <h2>
              <a target="_blank" rel="noopener" href="https://blog.angular.io/">Alugar</a>
            </h2>
          </li>

        </td>
      </tr>
      <tr>
        <td colspan="3">

          <table border="0">
            <tr>
              <td>4 postas</td>
              <td>5 pessoas</td>
              <td>3 malas</td>
            </tr>
            <tr>
              <td>ar condicionado</td>
              <td>vidro elétrico</td>
              <td>direção hidrâulica</td>
            </tr>
            <tr>
              <td>4 postas</td>
              <td>5 pessoas</td>
              <td>3 malas</td>
            </tr>
          </table>



        </td>

      </tr>
    </table>

  </div>

</div>